.burger-ingredients {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.burger-ingredients-container {
  overflow-y: scroll;
  max-height: calc(100vh - 358px)
}

.ingredients-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 32px 24px;
}

.burger-ingredients-tabs {
  display: flex;
}
